<div style="height: 100%; width: 100%;">

    <div style="height: 400px; width: 300px; background-color: white;  margin-left: calc(50% - 150px);">
        <div>
            <h2 style="text-align: center; padding-top: 10px;">Sign in</h2>

            <div class="inputLogin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>User name</mat-label>
                    <input matInput placeholder="please enter your user name">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click) = "IssueScreen()"
                    style="width: 250px; margin-left: calc(50% - 125px); border-radius: 15px; margin-top: 200px;">Log
                    in</button>
            </div>
            <div>
                <p style="padding-top: 13px; margin-left: 100px; font-size: 15px; color:rgb(168, 162, 162)">לא זוכר <mat-icon style="font-size: 20px;">psychology</mat-icon>
                </p>
            </div>
        </div>
    </div>
</div>
